#messages {
    position: fixed;
    bottom: 0px;
    left: 0px;
    width: 100%;
/*    min-width: 50%;
    max-width: 90%;*/
    z-index: -1;
    text-align: center;
}
#messages .alert {
    position: relative;
    /*background-color: #555 !important;*/
    box-shadow: 0 2px 2px 0 rgba(0,0,0,.14),0 3px 1px -2px rgba(0,0,0,.2),0 1px 3px 0 rgba(0,0,0,.12);
    border-radius: .125rem;
    display: inline-block;
    width: auto;
    z-index: 1080;
}
#messages .alert.shown {
    transform: translateY(100%) !important;
    transition: all 0.5s;
}