html {
    overflow: hidden;
}

#container {
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.page {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    overflow: hidden;
    -webkit-transform: translate(0, 0);
    transform: translate(0, 0);
}

.page.left {
    -webkit-transform: translate(0, 5%) scale(0.75,0.75);
    transform: translate(0, 5%) scale(0.75,0.75);
    opacity: 0;
}

.page.center {
    -webkit-transform: translate(0, 0) scale(1,1);
    transform: translate(0, 0) scale(1,1);
    opacity: 1;
}

.page.right {
    -webkit-transform: translate(0, 5%) scale(0.75,0.75);
    transform: translate(0, 5%) scale(0.75,0.75);
    opacity: 0;
}

.page.transition {
    -webkit-transition-duration: .25s;
    transition-duration: .25s;
}